<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Parking App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1><b>Vehicle Parking App</b></h1>
    <h2>One-stop app to make your parking easier and faster</h2>
    <div class="rectangle" >
        <div>
            <h3><a href="{{ url_for('admin_login') }}">Administrator</a> &gt;</h3>
        </div>
        <div>
            <h3><a href="{{ url_for('user_login') }}">User</a> &gt;</h3>
        </div>
    </div>
</body>
</html>
