{% extends "base.html" %}

        {% block title %}User Login Page{% endblock %}
        
        {% block content %}
        <div>
            <h1><b>USER LOGIN</b></h1>
            <form action="/user_login" method="POST">
                <label for="unique_id">Username/Email:</label>
                <input type="text" id="unique_id" name="unique_id" required>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <button type="submit">Login</button>
            </form>
            <h3>Don't have an account?</h3>
            <div style="text-align:center;">
            <a href="{{ url_for('register') }}">Create Account/ Sign up</a>
            </div>
        </div>
        {% endblock %}
    